<?xml version="1.0" encoding="UTF-8"?>
<module configVersion="1.2">

    <!-- Base Module Properties -->
    <id>smartcontainer</id>
    <name>SMART Container</name>
    <version>1.0</version>
    <package>org.openmrs.module.@MODULE_ID@</package>
    <author>Balachandiran Ajanthan</author>
    <description>Adds features necessary to make an OpenMRS instance become a SMART App container</description>

    <activator>@MODULE_PACKAGE@.SmartContainerActivator</activator>

    <updateURL>http://modules.openmrs.org/modules/download/@MODULE_ID@/update.rdf</updateURL>
    <!-- /Base Module Properties -->

    <require_version>${openMRSVersion}</require_version>

    <!-- Extensions -->
    <extension>
        <point>org.openmrs.admin.list</point>
        <class>@MODULE_PACKAGE@.extension.html.AdminList</class>
    </extension>
    <extension>
        <point>org.openmrs.patientDashboardTab</point>
        <class>@MODULE_PACKAGE@.extension.html.SmartAppTab</class>
    </extension>
    <!--
     <extension>
     <point>org.openmrs.userOptionExtension</point>
     <class>@MODULE_PACKAGE@.extension.html.UserOptionTabExtension</class>
     </extension>-->
     
     <!-- Filters -->
     <filter>
		<filter-name>SMART REST AuthorizationFilter</filter-name>
		<filter-class>org.openmrs.module.smartcontainer.web.filter.AuthorizationFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>SMART REST AuthorizationFilter</filter-name>
		<url-pattern>/ws/smartcontainer/*</url-pattern>
	</filter-mapping>

    <!-- Required Privileges -->
    <privilege>
        <name>Manage SMART Apps</name>
        <description>Allows user to install/uninstall SMART apps</description>
    </privilege>
    
    <!-- DWR -->
    <dwr>
		<allow>
			<create creator="new" javascript="DWRSmartService">
				<param name="class" value="@MODULE_PACKAGE@.web.dwr.DWRSmartService"/>
				<include method="showOrHideSmartApp"/>
				<include method="enableOrDisableSmartApp"/>
			</create>
		</allow>

		<signatures>
			<![CDATA[
				import @MODULE_PACKAGE@.web.dwr.DWRSmartService;
				DWRSmartService.showOrHideSmartApp(Integer appId, boolean hide, String uuid, String hiddenByUuid);
				DWRSmartService.enableOrDisableSmartApp(Integer appId, boolean enable);
			]]>
		</signatures>	
	</dwr>

    <!-- Required Global Properties -->
     <globalProperty>
		<property>smartcontainer.problem.useProblemObject</property>
		<defaultValue>true</defaultValue>
		<description>
			The name of the global property to store the true/false value of whether
	 		this instance wants to use the ActiveList/Problem table and object to
	 		manage the patient's problems
	 	</description>
	</globalProperty>
	<globalProperty>
		<property>smartcontainer.problem.useObsForProblem</property>
		<defaultValue>false</defaultValue>
		<description>
			The name of the global property to store the true/false of whether this
			instance wants to use the obs table to look up a patient's problems
	 	</description>
	</globalProperty>
	<globalProperty>
		<property>smartcontainer.problem.addedConcept</property>
		<defaultValue></defaultValue>
		<description>
			The name of the global property to store the concept id of the "Problem Added" concept 
			used in forms.  This can be used in place or in addition to the problem object
	 	</description>
	</globalProperty>
	<globalProperty>
		<property>smartcontainer.problem.resolvedConcept</property>
		<defaultValue></defaultValue>
		<description>
			The name of the global property to store the concept id of the "Problem Resolved" concept 
			used in forms.  This can be used in place or in addition to the problem object
	 	</description>
	</globalProperty>
	<globalProperty>
		<property>smartcontainer.allergy.useAllergyObject</property>
		<defaultValue>true</defaultValue>
		<description>
			The name of the global property to store the true/false value of whether
	 		this instance wants to use the ActiveList/Allergy table and object to
	 		manage the patient's problems
	 	</description>
	</globalProperty>
	<globalProperty>
		<property>smartcontainer.allergy.exceptionConcept</property>
		<defaultValue></defaultValue>
		<description>
			The concept id of the Smart Allergy Exception concept used in forms
	 	</description>
	</globalProperty>
	<globalProperty>
		<property>smartcontainer.local.snomedConceptSource</property>
		<defaultValue></defaultValue>
		<description>
			The id for the local SNOMED concept source to be used by SMART apps that require concept mappings to it
	 	</description>
	</globalProperty>
	<globalProperty>
		<property>smartcontainer.local.loincConceptSource</property>
		<defaultValue></defaultValue>
		<description>
			The id for the local LOINC concept source to be used by SMART apps that require concept mappings to it
	 	</description>
	</globalProperty><globalProperty>
		<property>smartcontainer.local.rxNormConceptSource</property>
		<defaultValue></defaultValue>
		<description>
			The id for the local RxNORM concept source to be used by SMART apps that require concept mappings to it
	 	</description>
	</globalProperty><globalProperty>
		<property>smartcontainer.local.fdaConceptSource</property>
		<defaultValue></defaultValue>
		<description>
			The id for the local FDA concept source to be used by SMART apps that require concept mappings to it
	 	</description>
	</globalProperty>

    <!-- Internationalization -->
    <!-- All message codes should start with @MODULE_ID@.* -->
    <messages>
        <lang>en</lang>
        <file>messages.properties</file>
    </messages>
    <messages>
        <lang>fr</lang>
        <file>messages_fr.properties</file>
    </messages>
    <messages>
        <lang>es</lang>
        <file>messages_es.properties</file>
    </messages>
    <!-- /Internationalization -->

    <mappingFiles>
        App.hbm.xml
        UserHiddenAppMap.hbm.xml
    </mappingFiles>
</module>
