TH.userAppRowHeader{
	background-color: #CCCCCC;
}
TD.smartOddRow{
	background-color: whitesmoke;
}
.defaultSmartTable{
	border: 1px solid #CCCCCC;
}
.centerAligned{
	text-align: center;
}
.rightAligned{
	text-align: right;
}
.leftAligned{
	text-align: left;
}
.bolded{
	font-weight: bold;
}